* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* navbar style start */

header {
    background-image: url(../Assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    padding: 20px 0 20px 0;
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
}

.scrolling-active {
    background-color: #F2CD5C;
    padding: 30px 0 30px 0;
}

.container {
    width: 80%;
    margin-inline: auto;
}

.box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > h1 {
    font-size: 30px;
}

.menu {
    display: flex;
    column-gap: 50px;
}

.menu > li {
    list-style-type: none;
}

.menu > li > a {
    text-decoration: none;
    color: black;
}

.active {
    display: none;
}

.menu > li > a:hover {
    transition: all .3s ease-in-out;
    color: #F2CD5C;
}

.donasi {
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: #F2CD5C;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.donasi:hover {
    transition: all .3s ease-in-out;
    background-color: #c5a74b;
}

.menu-bar {
    display: none;
    font-size: 24px;
}
/* navbar style end */

/* hero style start */
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.box-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.box-hero > .box:nth-child(1) > h1 {
    font-size: 3vw;
    line-height: 1.3;
    margin-bottom: 20px;
}

.box-hero > .box:nth-child(1) > p {
    line-height: 2;
    margin-bottom: 20px;
}

.box-hero > .box:nth-child(1) > button {
    width: 150px;
    height: 50px;
    background-color: #F2CD5C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box-hero > .box:nth-child(1) > button:hover {
    background-color: #c5a74b;
    transition: all .3s ease-in-out;
}

.box-hero > .box:nth-child(2) > img {
    width: 100%;
    border-radius: 10px;
}
/* hero style end */

/* sejarah style start */
.sejarah {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}

.box-sejarah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.box-sejarah > .box:nth-child(1) > img {
    width: 600px;
    border-radius: 10px;
}

.box-sejarah > .box:nth-child(2) > h1 {
    font-size: 2vw;
    line-height: 1.3;
    margin-bottom: 20px;
}

.sejarah > .container > h1 {
    text-align: center;
    font-size: 2vw;
    margin-top: 150px;
    margin-bottom: 40px;
}

.box-dkm {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 50px;
}

.box1-dkm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 302px;
    background-color: #D9D9D9;
    border-radius: 10px;
    row-gap: 15px;
}

.box1-dkm > img {
    width: 90px;
    border-radius: 100%;
}

.box1-dkm > p {
    text-align: center;
    font-size: 11px;
}

.box1-dkm:hover {
    transition: all .3s ease-in-out;
    background-color: #F2CD5C;
}
/* sejarah style end */


@media screen and (max-width: 990px) {
    /* navbar style start */
    .active {
        display: flex;
    }
    
    .donasi {
        display: none;
    }
    
    .menu-bar {
        display: flex;
    }
    
    .menu {
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 200px;
        row-gap: 20px;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
        background-color: #F2CD5C;
    }
    
    .menu-active {
        top: 90px;
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .box-hero {
        flex-direction: column-reverse;
        text-align: center;
        row-gap: 10px;
    }

    .box:nth-child(1) > p {
        font-size: 14px;
    }

    .box:nth-child(2) > img {
        width: 65vw;
    }
    /* navbar style end */
}

@media screen and (max-width: 575px) {
    /* navbar style start */
    .box:nth-child(1) > h1 {
        font-size: 21px;
    }
    /* navbar style end */
}

@media screen and (max-width: 370px) {
    /* navbar style start */
    .box-hero {
        row-gap: 0;
    }
    /* navbar style end */
}